body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
}

/* Layout */

.container {
  width: 700px;
  height: 100vh;
  margin: 0 auto;
  background: #fff;
  color: #222;
}

header {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./images/cinema-bg.jpg');
  background-size: cover;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -1.5em;
}

.search-input {
  width: 400px;
  height: 40px;
  text-align: left;
  border-radius: 5px 0 0 5px;
  border: none;
  box-shadow: 1px 1px 5px #ccc;
}

.search-btn {
  padding: 0em 4em;
  cursor: pointer;
  border: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 1px 1px 5px #ccc;
}

.movie-card {
  display: flex;
  max-width: 100%;
  height: 200px;
  margin: 4em 2.7em;
  padding-bottom: 2.7em;
  border-bottom: 1px solid #ccc;
}

.movie-poster {
  margin-right: 1.5em;
}

.movie-info {
  padding: 1em;
}

.movie-title-rating {
  display: flex;
  flex-direction: row;
}

.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 7em;
}

.watchlist-remove-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* Typography  */

h1 {
  font-weight: 800;
  font-size: 3.3rem;
  margin-top: 0;
  text-shadow: 1px 1px 1px #ccc;
}

.movie-rating {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 1.5em;
}

.page-link {
  font-weight: 600;
  font-size: 1.125em;
  text-decoration: none;
  color: #fff;
}
